
{:beach-accessories
 {:label {:en-gb "Beach Accessories"
          :hu-hu "Strand kellékek"}}

 :beach-blankets
 {:label {:en-gb "Beach Blankets"
          :hu-hu "Strandplédek"}}

 :beach-carts
 {:label {:en-gb "Beach Carts"
          :hu-hu "Strandkocsik"}}

 :beach-chairs
 {:label {:en-gb "Beach Chairs"
          :hu-hu "Strandszékek"}}

 :beach-n-play
 {:label {:en-gb "Beach and Play"
          :hu-hu "Strand és játék"}}

 :beach-tents
 {:label {:en-gb "Beach Tents"
          :hu-hu "Strandsátrak"}}

 :beach-toys
 {:label {:en-gb "Beach Toys"
          :hu-hu "Strandjátékok"}}

 :inflatable-boats
 {:label {:en-gb "Inflatable Boats"
          :hu-hu "Felfújható csónakok"}}

 :inflatable-mattresses
 {:label {:en-gb "Inflatable Mattresses"
          :hu-hu "Felfújható matracok"}}

 :inflatable-pools
 {:label {:en-gb "Inflatable Pools"
          :hu-hu "Felfújható medencék"}}

 :inflatable-products
 {:label {:en-gb "Inflatable Products"
          :hu-hu "Felfújható termékek"}}

 :inflatable-toys
 {:label {:en-gb "Inflatable Toys"
          :hu-hu "Felfújható játékok"}}

 :parasols-n-windbreaks
 {:label {:en-gb "Parasols and Windbreaks"
          :hu-hu "Napernyők és szélfogók"}}

 :pumps-n-compressors
 {:label {:en-gb "Pumps and Compressors"
          :hu-hu "Pumpák és kompresszorok"}}}
