
{:camping-household
 {:label {:en-gb "Camping Household"
          :hu-hu "Kempingháztartás"}}

 :cleaning-n-maintenance
 {:label {:en-gb "Cleaning and Maintenance"
          :hu-hu "Takarítás és karbantartás"}}

 :cutlery
 {:label {:en-gb "Cutlery"
          :hu-hu "Evőeszközök"}}

 :dehumidification
 {:label {:en-gb "Dehumidification"
          :hu-hu "Párátlanítás"}}

 :pots-n-pans
 {:label {:en-gb "Pots and Pans"
          :hu-hu "Edények és serpenyők"}}

 :washing-n-drying
 {:label {:en-gb "Washing and Drying"
          :hu-hu "Mosás és szárítás"}}}
