
{:cabinets
 {:label {:en-gb "Cabinets"
          :hu-hu "Szekrények"}}

 :camping-furniture
 {:label {:en-gb "Camping Furniture"
          :hu-hu "Kempingbútorok"}}

 :chairs
 {:label {:en-gb "Chairs"
          :hu-hu "Székek"}}

 :childrens-furniture
 {:label {:en-gb "Childrens Furniture"
          :hu-hu "Gyerekbútorok"}}

 :tables
 {:label {:en-gb "Tables"
          :hu-hu "Asztalok"}}}
