{
 :cabinets
 {:en-gb "Cabinets"
  :hu-hu "Szekrények"}

 :camping-furniture
 {:en-gb "Camping Furniture"
  :hu-hu "Kempingbútorok"}

 :chairs
 {:en-gb "Chairs"
  :hu-hu "Székek"}

 :childrens-furniture
 {:en-gb "Childrens Furniture"
  :hu-hu "Gyerekbútorok"}

 :tables
 {:en-gb "Tables"
  :hu-hu "Asztalok"}}
