{
 :cabinets
 {:en-en "Cabinets"
  :hu-hu "Szekrények"}

 :camping-furniture
 {:en-en "Camping Furniture"
  :hu-hu "Kempingbútorok"}

 :chairs
 {:en-en "Chairs"
  :hu-hu "Székek"}

 :childrens-furniture
 {:en-en "Childrens Furniture"
  :hu-hu "Gyerekbútorok"}

 :tables
 {:en-en "Tables"
  :hu-hu "Asztalok"}}
