
{:conversion-n-maintenance
 {:label {:en-gb "Conversion and Maintenance"
          :hu-hu "Építés és karbantartás"}}

 :sealants-n-adhesives
 {:label {:en-gb "Sealants and Adhesives"
          :hu-hu "Tömítő- és ragasztóanyagok"}}

 :van-conversion
 {:label {:en-gb "Van Conversion"
          :hu-hu "Furgon átalakítás"}}}
