
{:additional-brake-lamps
 {:label {:en-gb "Additional Brake Lamps"
          :hu-hu "Kiegészítő féklámpák"}}

 :alkaline-n-rechargeable-cells
 {:label {:en-gb "Alkaline and Rechargeable Cells"
          :hu-hu "Alkáli és újratölthető elemek"}}

 :batteries
 {:label {:en-gb "Batteries"
          :hu-hu "Akkumulátorok"}}

 :battery-accessories
 {:label {:en-gb "Battery Accessories"
          :hu-hu "Akkumulátor tartozékok"}}

 :battery-chargers
 {:label {:en-gb "Battery Chargers"
          :hu-hu "Akkumulátortöltők"}}

 :bulb-sets
 {:label {:en-gb "Bulb Sets"
          :hu-hu "Izzókészletek"}}

 :bulbs
 {:label {:en-gb "Bulbs"
          :hu-hu "Izzók"}}

 :cables-n-wires
 {:label {:en-gb "Cables and Wires"
          :hu-hu "Kábelek és vezetékek"}}

 :camping-lamps
 {:label {:en-gb "Camping Lamps"
          :hu-hu "Kempinglámpák"}}

 :cigarette-lighter-sockets
 {:label {:en-gb "Cigarette Lighter Sockets"
          :hu-hu "Szivargyújtó aljzatok"}}

 :connectors-n-adapters
 {:label {:en-gb "Connectors and Adapters"
          :hu-hu "Csatlakozók és adapterek"}}

 :daytime-running-lamps
 {:label {:en-gb "Daytime Running Lamps"
          :hu-hu "Nappali menetfény lámpák"}}

 :electrical-connection
 {:label {:en-gb "Electrical Connection"
          :hu-hu "Elektromos csatlakozás"}}

 :electricity-n-lighting
 {:label {:en-gb "Electricity and Lighting"
          :hu-hu "Elektromosság és világítás"}}

 :extension-cords-cable-reels-n-distributors
 {:label {:en-gb "Extension Cords, Cable Reels and Distributors"
          :hu-hu "Hosszabbítók, kábeldobok és elosztók"}}

 :exterior-lighting
 {:label {:en-gb "Exterior Lighting"
          :hu-hu "Kültéri világítás"}}

 :torches
 {:label {:en-gb "Torches"
          :hu-hu "Zseblámpák"}}

 :fog-lamps
 {:label {:en-gb "Fog Lamps"
          :hu-hu "Ködlámpák"}}

 :fuel-cells
 {:label {:en-gb "Fuel Cells"
          :hu-hu "Üzemanyagcellák"}}

 :headlamps
 {:label {:en-gb "Headlamps"
          :hu-hu "Fejlámpák"}}

 :high-voltage-electrical-system
 {:label {:en-gb "High Voltage Electrical System"
          :hu-hu "Erősáramú elektromos rendszer"}}

 :interior-lighting
 {:label {:en-gb "Interior Lighting"
          :hu-hu "Beltéri világítás"}}

 :inverters
 {:label {:en-gb "Inverters"
          :hu-hu "Inverterek"}}

 :lamp-covers
 {:label {:en-gb "Lamp Covers"
          :hu-hu "Lámpabúrák"}}

 :lamps-n-lighting
 {:label {:en-gb "Lamps and Lighting"
          :hu-hu "Lámpák és világítás"}}

 :license-plate-lamps
 {:label {:en-gb "License Plate Lamps"
          :hu-hu "Rendszámtábla megvilágító lámpák"}}

 :low-voltage-electrical-system
 {:label {:en-gb "Low Voltage Electrical System"
          :hu-hu "Gyengeáramú elektromos rendszer"}}

 :portable-energy-storage
 {:label {:en-gb "Portable Energy Storage"
          :hu-hu "Hordozható energiatárolók"}}

 :portable-generators
 {:label {:en-gb "Portable Generators"
          :hu-hu "Hordozható áramfejlesztők"}}

 :position-n-marker-lamps
 {:label {:en-gb "Position and Marker Lamps"
          :hu-hu "Helyzetjelző és pozíció lámpák"}}

 :protective-equipment
 {:label {:en-gb "Protective Equipment"
          :hu-hu "Védőberendezések"}}

 :rear-lamps
 {:label {:en-gb "Rear Lamps"
          :hu-hu "Hátsó lámpák"}}

 :reflectors
 {:label {:en-gb "Reflectors"
          :hu-hu "Prizmák"}}

 :reversing-lamps
 {:label {:en-gb "Reversing Lamps"
          :hu-hu "Tolatólámpák"}}

 :side-marker-lamps
 {:label {:en-gb "Side Marker Lamps"
          :hu-hu "Oldaljelző lámpák"}}

 :solar-accessories
 {:label {:en-gb "Solar Accessories"
          :hu-hu "Napelem tartozékok"}}

 :solar-charge-controllers
 {:label {:en-gb "Solar Charge Controllers"
          :hu-hu "Napelem töltésvezérlők"}}

 :solar-kits
 {:label {:en-gb "Solar Kits"
          :hu-hu "Napelem szettek"}}

 :solar-panels
 {:label {:en-gb "Solar Panels"
          :hu-hu "Napelem modulok"}}

 :solar-systems
 {:label {:en-gb "Solar Systems"
          :hu-hu "Napelemes rendszerek"}}

 :switches-n-sockets
 {:label {:en-gb "Switches and Sockets"
          :hu-hu "Kapcsolók és aljzatok"}}

 :tent-lamps
 {:label {:en-gb "Tent Lamps"
          :hu-hu "Sátorlámpák"}}

 :turn-signal-lamps
 {:label {:en-gb "Turn Signal Lamps"
          :hu-hu "Irányjelző lámpák"}}

 :vehicle-electrics
 {:label {:en-gb "Vehicle Electrics"
          :hu-hu "Járműelektromosság"}}

 :vehicle-lighting-n-lamps
 {:label {:en-gb "Vehicle Lighting and Lamps"
          :hu-hu "Járművilágítás és lámpák"}}

 :work-lamps
 {:label {:en-gb "Work Lamps"
          :hu-hu "Munkalámpák"}}}
