
{:alarms-n-sensors
 {:label {:en-gb "Alarms and Sensors"
          :hu-hu "Riasztók és érzékelők"}}

 :anti-burglary-equipment
 {:label {:en-gb "Anti-Burglary Equipment"
          :hu-hu "Betörés elleni védelem"}}

 :anti-theft-equipment
 {:label {:en-gb "Anti-Theft Equipment"
          :hu-hu "Lopás elleni védelem"}}

 :cargo-securing
 {:label {:en-gb "Cargo Securing"
          :hu-hu "Rakományrögzítés"}}

 :safety-n-protection
 {:label {:en-gb "Safety and Protection"
          :hu-hu "Biztonság és védelem"}}}
