{
 :caravan-body-locks
 {:en-gb "Caravan Body Locks"
  :hu-hu "Lakókocsi felépítményzárak"}

 :cargo-securing
 {:en-gb "Cargo Securing"
  :hu-hu "Rakományrögzítés"}

 :cargo-securing-systems
 {:en-gb "Cargo Securing Systems"
  :hu-hu "Rakományrögzítő rendszerek"}

 :chassis-n-body
 {:en-gb "Chassis and Body"
  :hu-hu "Alváz és felépítmény"}

 :chocks-n-chock-holders
 {:en-gb "Chocks and Chock Holders"
  :hu-hu "Ékek és éktartók"}

 :complete-wheels
 {:en-gb "Complete Wheels"
  :hu-hu "Komplett kerekek"}

 :fenders
 {:en-gb "Fenders"
  :hu-hu "Sárvédők"}

 :jacks
 {:en-gb "Jacks"
  :hu-hu "Emelők"}

 :locks-n-protection
 {:en-gb "Locks and Protection"
  :hu-hu "Zárak és védelem"}

 :safety-accessories
 {:en-gb "Safety Accessories"
  :hu-hu "Biztonsági kiegészítők"}

 :securing-nets
 {:en-gb "Securing Nets"
  :hu-hu "Rögzítőhálók"}

 :shock-absorbers
 {:en-gb "Shock Absorbers"
  :hu-hu "Lengéscsillapítók"}

 :straps-n-tensioners
 {:en-gb "Straps and Tensioners"
  :hu-hu "Hevederek és spaniferek"}

 :support-legs
 {:en-gb "Support Legs"
  :hu-hu "Támasztólábak"}

 :tires
 {:en-gb "Tires"
  :hu-hu "Gumiabroncsok"}

 :tool-boxes
 {:en-gb "Tool Boxes"
  :hu-hu "Szerszámosládák"}

 :tow-bar-tow-hitch-n-tow-ball
 {:en-gb "Tow Bar, Tow Hitch and Tow Ball"
  :hu-hu "Vonórúd, vonófej és vonóhorog"}

 :tow-hitch-accessories
 {:en-gb "Tow Hitch Accessories"
  :hu-hu "Vonófejtartozékok"}

 :tow-hitch-components
 {:en-gb "Tow Hitch Components"
  :hu-hu "Vonófejalkatrészek"}

 :tow-hitch-covers
 {:en-gb "Tow Hitch Covers"
  :hu-hu "Vonófejtakarók"}

 :tow-hitch-locks
 {:en-gb "Tow Hitch Locks"
  :hu-hu "Vonófejzárak"}

 :tow-hitch-scales
 {:en-gb "Tow Hitch Scales"
  :hu-hu "Vonófejmérlegek"}

 :tow-hitches
 {:en-gb "Tow Hitches"
  :hu-hu "Vonófejek"}

 :tow-balls
 {:en-gb "Tow Balls"
  :hu-hu "Vonóhorgok"}

 :trailer-body-locks
 {:en-gb "Trailer Body Locks"
  :hu-hu "Utánfutó felépítményzárak"}

 :trailer-n-caravan
 {:en-gb "Trailer and Caravan"
  :hu-hu "Utánfutó és lakókocsi"}

 :trailer-platform-locks
 {:en-gb "Trailer Platform Locks"
  :hu-hu "Utánfutó platózárak"}

 :wheel-rims
 {:en-gb "Wheel Rims"
  :hu-hu "Felnik (keréktárcsák)"}

 :wheels-n-tires
 {:en-gb "Wheels and Tires"
  :hu-hu "Kerekek és gumiabroncsok"}

 :winches
 {:en-gb "Winches"
  :hu-hu "Csörlők"}}
