
{:bathroom-equipment
 {:label {:en-gb "Bathroom Equipment"
          :hu-hu "Fürdőszoba felszerelés"}}

 :built-in-toilets
 {:label {:en-gb "Built-in Toilets"
          :hu-hu "Beépített WC-k"}}

 :drainage-systems
 {:label {:en-gb "Drainage Systems"
          :hu-hu "Lefolyórendszerek"}}

 :tap-ceramic-inserts
 {:label {:en-gb "Tap Ceramic Inserts"
          :hu-hu "Csaptelep kerámiabetétek"}}

 :taps
 {:label {:en-gb "Taps"
          :hu-hu "Csaptelepek"}}

 :frost-protection
 {:label {:en-gb "Frost Protection"
          :hu-hu "Fagyás elleni védelem"}}

 :garden-hoses-n-accessories
 {:label {:en-gb "Garden Hoses and Accessories"
          :hu-hu "Kerti tömlők és tartozékaik"}}

 :grey-water-discharge
 {:label {:en-gb "Grey Water Discharge"
          :hu-hu "Szürkevíz-leeresztés"}}

 :grey-water-tanks
 {:label {:en-gb "Grey Water Tanks"
          :hu-hu "Szürkevíz-tartályok"}}

 :outdoor-showers
 {:label {:en-gb "Outdoor Showers"
          :hu-hu "Kültéri zuhanyok"}}

 :plumbing-fittings
 {:label {:en-gb "Plumbing Fittings"
          :hu-hu "Csőrendszer szerelvények"}}

 :plumbing-fittings-quick-connect
 {:label {:en-gb "Plumbing Fittings (Quick Connect)"
          :hu-hu "Csőrendszer szerelvények (gyorscsatlakozós)"}}

 :portable-containers
 {:label {:en-gb "Portable Containers"
          :hu-hu "Hordozható tartályok"}}

 :portable-toilets
 {:label {:en-gb "Portable Toilets"
          :hu-hu "Hordozható WC-k"}}

 :sanitary-supplies
 {:label {:en-gb "Sanitary Supplies"
          :hu-hu "Szaniterkellékek"}}

 :sanitary-supplies-chemical-free
 {:label {:en-gb "Sanitary Supplies (Chemical-Free)"
          :hu-hu "Szaniterkellékek (vegyszermentes)"}}

 :shower-trays
 {:label {:en-gb "Shower Trays"
          :hu-hu "Zuhanytálcák"}}

 :sinks
 {:label {:en-gb "Sinks"
          :hu-hu "Mosogatók"}}

 :solar-showers
 {:label {:en-gb "Solar Showers"
          :hu-hu "Szolár zuhanyok"}}

 :toilet-accessories
 {:label {:en-gb "Toilet Accessories"
          :hu-hu "WC tartozékok"}}

 :toilet-ventilation
 {:label {:en-gb "Toilet Ventilation"
          :hu-hu "WC szellőztetés"}}

 :toilets-n-accessories
 {:label {:en-gb "Toilets and Accessories"
          :hu-hu "WC-k és tartozékaik"}}

 :washbasins
 {:label {:en-gb "Washbasins"
          :hu-hu "Mosdók"}}

 :water-can-accessories
 {:label {:en-gb "Water Can Accessories"
          :hu-hu "Vizeskanna tartozékok"}}

 :water-cans-n-buckets
 {:label {:en-gb "Water Cans and Buckets"
          :hu-hu "Vizeskannák és vödrök"}}

 :water-connection
 {:label {:en-gb "Water Connection"
          :hu-hu "Vízcsatlakozás"}}

 :water-filtration
 {:label {:en-gb "Water Filtration"
          :hu-hu "Vízszűrés"}}

 :water-heaters
 {:label {:en-gb "Water Heaters"
          :hu-hu "Vízmelegítő készülékek"}}

 :water-heating
 {:label {:en-gb "Water Heating"
          :hu-hu "Vízmelegítés"}}

 :water-hoses-n-pipes
 {:label {:en-gb "Water Hoses and Pipes"
          :hu-hu "Víztömlők és csövek"}}

 :water-level-indicators
 {:label {:en-gb "Water Level Indicators"
          :hu-hu "Vízszintjelzők"}}

 :water-n-sanitary
 {:label {:en-gb "Water and Sanitary"
          :hu-hu "Víz és szaniter"}}

 :water-pumps
 {:label {:en-gb "Water Pumps"
          :hu-hu "Vízszivattyúk"}}

 :water-system
 {:label {:en-gb "Water System"
          :hu-hu "Vízrendszer"}}

 :water-tank-accessories
 {:label {:en-gb "Water Tank Accessories"
          :hu-hu "Víztartály tartozékok"}}

 :water-tanks
 {:label {:en-gb "Water Tanks"
          :hu-hu "Víztartályok"}}

 :water-transport
 {:label {:en-gb "Water Transport"
          :hu-hu "Vízszállítás"}}

 :water-treatment
 {:label {:en-gb "Water Treatment"
          :hu-hu "Vízkezelés"}}

 :water-treatment-n-preservation
 {:label {:en-gb "Water Treatment and Preservation"
          :hu-hu "Vízkezelés és tartósítás"}}}
